@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    scroll-behavior: smooth;

}

section {
    padding: 10px 5% !important;
}

/* header */
header {
    background-color: white;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    z-index: 1000;
}

.logo {
    font-size: 35px;
    font-weight: 500;
}

.logo span {
    color: #0D6EFD;
}


.nav a {
    color: black;
    display: inline-block;
    margin: 0 20px;
    padding: 10px 20px;
    font-weight: 500;
}

.nav a:hover {
    background-color: #0D6EFD;
    color: white;
    transition: 0.9s;
    border-radius: 10px;
    box-shadow: -2px 2px 5px #0D6EFD;
    /* transform: scale(1.1); */
}

.btn {
    color: white;
    background-color: #0D6EFD;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 400;
}

.btn:hover {
    transform: scale(1.1);
    transition: 0.9s;
    box-shadow: -2px 2px 5px #0D6EFD;
}

/* header */

/* main */
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D6EFD;
    width: 100%;
    height: 100vh;
    overflow: hidden !important;

}

.main>div {
    width: 50%;
}

.main img {
    width: 30vw;
    height: 100vh;
    margin-left: 200px;
}

.main-info h1 {
    font-size: 50px;
    font-weight: 800;
    color: white;
}

.main-info h1 span {
    color: #FFC107;
}

.main-info p {
    font-size: 15px;
    margin: 20px 0;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.main-info .main-btn {
    display: inline-block;
    color: #0D6EFD;
    background-color: white;
    padding: 10px 80px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    border-radius: 20px;
    margin: 30px 0px;
}

.main-info .main-btn:hover {
    transform: scale(1.1);
    transition: 0.8s;
    box-shadow: -5px 2px 10px black;
    background-color: #FFC107;
    color: white;
}

/* main */

/* services start */

.services h2 {
    text-align: center;
    margin: 60px 0;
    font-size: 30px;
    font-weight: 700;
    color: #0D6EFD;
}

.services-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-con>div {
    width: 50%;
}

.services-photo img {
    width: 500px;
    margin-left: 100px;
}

.services-info h3 {
    font-size: 40px;
    margin: 30px 0 10px 0;

}

.services-info p {
    color: gray;
}

.services-info ul {
    margin: 30px 17px;
    list-style: circle
}

.services-info .btn-services {
    display: inline-block;
    color: white;
    background-color: #0D6EFD;
    padding: 10px 20px;
    border-radius: 20px;
}

.services-info .btn-services:hover {
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 0px 2px 10px #0D6EFD;
}


/* services end */


/* Department start */

.Department {
    background-color: #f8f8f7;
}


.Department .title {
    text-align: center;
    margin: 60px 0;
    font-size: 30px;
    font-weight: 700;
    color: #0D6EFD;
}

.contant {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Department-card {
    width: 22%;
    border: 1px solid rgb(206, 206, 206);
    margin: 0px 20px 40px;
    border-radius: 5px;
    overflow: hidden;
    transform-origin: bottom;
    transition-duration: 0.4s;
}

.Department-card:hover {
    transform: scale(1.09);
    box-shadow: 0px 0px 5px #777777b6;


}

.Department-card .img-card img {
    width: 100%;
}

.Department-card .img-card img:hover {
    opacity: 0.9;
}

.Department-card .Department-info h3 {
    color: #0D6EFD;
    padding-left: 5px;
}

.Department-card .Department-info p {
    color: gray;
    letter-spacing: 1px;
    padding-left: 5px;
}

/* Department end */


/* doctors start */

.doctors {
    width: 100%;
}

.doctors h3 {
    text-align: center;
    margin: 60px 0;
    font-size: 30px;
    font-weight: 700;
    color: #0D6EFD;
}

.doctors .cardes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.card-items {
    width: 29%;
    box-shadow: -1px 1px 4px rgb(206, 206, 206);
    border: 1px solid rgb(206, 206, 206);
}

.card-items .card-imge img {
    width: 100%;
    border-bottom: 5px solid #0D6EFD;

}

.card-items .card-imge img:hover {
    opacity: 0.9;
}

.doctors .card-info {
    text-align: center;
}

.doctors .card-info h4 {
    font-size: 25px;
    font-weight: 700;
    margin: 5px 0;
}

.doctors .card-info p {
    color: #0D6EFD;
    margin-bottom: 10px;
}

.doctors .doctors-btn {
    display: inline-block;
    color: white;
    background-color: #0D6EFD;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-weight: 700;
}

.doctors .doctors-btn:hover {
    transform: scalex(1.1);
    box-shadow: -1px 2px 5px #0D6EFD;
    transition: 0.8s;
}


/* doctors end */


/* contact start */

.contact {
    background-color: #f8f8f7;
}

.contact .contact-con {
    width: 100%;
}

.contact-con>div {
    width: 50%;
}

.contact h5 {
    text-align: center;
    margin: 60px 0;
    font-size: 30px;
    font-weight: 700;
    color: #0D6EFD;
}

.contact .contact-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-con .contact-time {
    width: 40%;
}

.contact-con .contact-time h6 {
    text-align: center;
    margin: 40px 0;
    font-size: 30px;
    font-weight: 700;
}

.contact-con .contact-time div {
    padding: 10px 50px;
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.contact-con .contact-time div:hover {
    transform: translateY(-5px);
    transition: 0.7s;
}

.contact-con .contact-time .color {
    background-color: #0D6EFD;
    color: white;
}

.contact-con .contact-time .red {
    color: red;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 30px 20px;
    background-color: #0066ff00;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #0D6EFD;
    background: transparent;
    margin-bottom: 20px;
}

.contact .contact-tab h6 {
    text-align: center;
    margin: 40px 0;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
}

.contact .contact-tab .contact-btn {
    background-color: #0D6EFD;
    color: white;
    padding: 12px 290px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    font-weight: 500;
}

.contact .contact-tab .contact-btn:hover {
    transform: scale(1.1);
    transition: 0.8s;
    box-shadow: 0 3px 8px #0D6EFD;
}

/* contact end */

/* footer start */
footer {
    width: 100%;
    background-color: #0D6EFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-info {
    width: 50%;
    color: #fff
}

.footer-info h1 {
    text-align: center;
    margin: 40px 0 20px 0;
}

.footer-info p {
    font-size: 15px;
    text-align: center;
    word-spacing: 2px;
    color: #e0e0e0;
    margin-bottom: 20px;
}

.footer-info .icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-info .icons a {
    color: #fff;
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 100%;
    padding-top: 10px;
    margin: 0 10px 50px 0;
}

.footer-info .icons a:hover {
    transform: translateY(-10px);
    transition: 0.8s;
    background-color: #fff;
    color: #0D6EFD;
}

/* footer end */



/* edit */
.main img {
    margin-left: auto;
    height: 100vh;
    width: auto;
    display: block;
}

/* .main-photo{
    display: flex;
    justify-content: flex-end;
} */

.services-photo img {
    width: 100%;
    margin-left: 0px;
}

.services-con>div {
    width: 50%;
    padding: 0% 2%;
}

.contant {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Department-card {
    width: calc((100% - 60px)/4);
    border: 1px solid rgb(206, 206, 206);
    margin: 0px;
}


.contact .contact-tab .contact-btn {
    padding: 12px 0%;
    width: 100%;
}

.doctors .cardes {
    gap: 20px;
}

.card-items {
    width: calc((100% - 40px)/3);
    box-shadow: -1px 1px 4px rgb(206, 206, 206);
    border: 1px solid rgb(206, 206, 206);
}

.card-imge {
    position: relative;
    display: flex;
}

.plus {
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #fff;
    border: solid 4px #0D6EFD;
    color: #0D6EFD;
    font-weight: bold;
    font-size: calc(20px + 1vw);
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

}

.doctors .card-info h4 {
    font-size: 25px;
    font-weight: 700;
    margin: 5px 0;
    padding-top: 2vw;

}

.doctors .cardes {
    gap: 20px;
    flex-wrap: wrap;
}


.services-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* responsive */
@media (min-width:0px) and (max-width:600px) {
    header{
        display: none !important;
    }
    .main-photo{
        display: none !important;
    }

    .main-info{
        width: 100% !important;
    }
    .Department-card {
        width: 100%;
        border: 1px solid rgb(206, 206, 206);
        margin: 0px;
    }

    .card-items {
        width: calc((100% - 0px)/1);
        box-shadow: -1px 1px 4px rgb(206, 206, 206);
        border: 1px solid rgb(206, 206, 206);
    }

    .services-con>div,
    .contact-con>div {
        width: 100% !important;

    }


}

@media (min-width:601px) and (max-width:768px) {
    .main-photo {
            display: none !important;
        }
    
        .main-info {
            width: 100% !important;
        }

    .Department-card {
        width: calc((100% - 20px) / 2);
        border: 1px solid rgb(206, 206, 206);
        margin: 0px;
    }

    .card-items {
        width: calc((100% - 20px)/2);
        box-shadow: -1px 1px 4px rgb(206, 206, 206);
        border: 1px solid rgb(206, 206, 206);
    }

    .services-con>div,
    .contact-con>div {
        width: 100% !important;
    }
}




@media (min-width:769px) and (max-width:992px) {
    .Department-card {
        width: calc((100% - 40px) / 3);
        border: 1px solid rgb(206, 206, 206);
        margin: 0px;
    }

        .contact-con>div {
            width: 100% !important;
        }

}

.services-info h3 {
    font-size: calc(27px + .5vw);
    margin: 30px 0 10px 0;
}


.contact .contact-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}